/*
* @Author: web
* @Date:   2018-11-03 11:55:58
* @Last Modified by:   djh
* @Last Modified time: 2018-11-04 18:03:45
*/
.cart_wrap{
	width: 1200px;
	margin: 0 auto;

}
#shop_wrap1{
	margin-bottom: 0;
}
.cart_into{
	height: 56px;
    line-height: 56px;
    font-size: 18px;
    color: #333;
    background-color: #f8f8f8;
}
.cart_into>ul{
	display: flex;
	justify-content: space-between;
}
.cart_into>ul>li:first-child{
	width: 700px;
	text-indent: 2em;
}
.cart_into>ul>li:last-child{
	margin-right: 53px;
}
.cart-list-item{
	padding: 30px 0;
    border-bottom: 1px solid #e9e9e9;
    display: flex;

}
.cart-shop-name{
	width: 770px;


}
.cart-shop-name>ul>li{
	float: left;
}
.ipt{
	width: 60px;
	text-align: center;
}
.ipt>.checkbox{
	cursor: pointer;
	margin-top: 30px;
	display: inline-block;

}
.ipt>.checkbox>input{
	display: none;
}
.ipt>.checkbox>span{
  display: inline-block;
   width: 28px;
   height: 28px;
   background: url('../img/index/icon.png') no-repeat -308px -28px;
   vertical-align: middle;
}
.span_img{
    background: url('../img/index/icon.png') no-repeat -336px -28px !important;
}
.ipt>.img{
	width: 120px;
}
.cart-shop-name>ul>li.img>a>img{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.cart-shop-name>ul>li.txt{
	width: 580px;
	margin-left: 27px;
}
.cart-shop-name>ul>li.txt>h5{
	height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 18px;
    color: #333;
}
.cart-shop-name>ul>li.txt>p{
	height: 40px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
}
.cart-shop-price{
	
    margin-left: 29px;
    width:70px;
}
.cart-shop-price>p{
	margin-top: 30px;
    font-size: 18px;
    color: #333;

}
.cart-shop-price>p>span{
	padding-left: 2px;

}
.cart-shop-num{
	width: 125px;
	margin-top: 30px;
    width: 125px;
    margin-left: 76px;
    font-size: 16px;

}
.cart-shop-num>a{
   text-decoration: none;
   float: left;
   width: 20px;
   height: 25px;
   line-height: 25px;
   cursor: pointer;
   display: inline-block;
   text-align: center;
   background-color: #e1e1e1;
   float: left;

}
.cart-shop-num>input{
	width: 45px;
    height: 23px;
    line-height: 23px;
    outline: none;
    text-align: center;
    border: 1px solid #e1e1e1;
    float: left;
}
.cart-shop-active{
	width: 130px;
    margin-top: 31px;
    
	

}
.cart-shop-active>a{
  line-height: 24px;
  font-size: 14px;
  color: #777;
  text-decoration: none;
  display: block;
  margin-left:41px;
}
.cart-list-footer{
	height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
}
.clearfix1>.ipt>.checkbox1{
	margin-top: 0;
}

.ipt1{
	width: 88px;
	float: left;
}
.num1{
	width: 634px;
    float: left;
    height:60px;
	margin-left: 77px;

}
.total{
	width: 230px;

	float: left;
}
.total>label{
	font-size: 30px;
    font-weight: 700;
    color: #f10000;
}
.alltotal{
	width: 170px;
	float: left;
}
.alltotal>a{
	width: 170px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 24px;
    color: #f8f8f8;
    text-align: center;
    background-color: #ff2f2f;
    text-decoration: none;
}
.shop_wrap1{
	margin-top: 56px;
}